body{
    text-align: center;
    /* background: url('./assets/backgroundImg.jpeg'); */
    background: radial-gradient(rgb(180, 115, 137), rgb(255, 192, 203));
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
footer, h1{
    font-size: 2rem;
    background: #eaeaea;
    padding: 10px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p{
    font-size: 1.2rem;
    color: black;
    font-weight: bolder;
    background: #eaeaea;
    padding: 10px;
    width: 60%;
    margin: 30px auto 0;
}

footer{
    margin-top: 50px;
}
footer a{
    text-decoration: none;
    color: rgb(172, 2, 30);
    font-weight: bolder;
    font-family: 'Share Tech Mono', monospace; 
}

footer a:hover, a:active{
    opacity: 0.8;
}